# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
bin/
lib/
include/

# Distribuição / Pacotes
dist/
build/
*.egg-info/

# Variáveis de ambiente (Segurança)
.env